<!DOCTYPE html>
<html>

<head>
    <title>Telesai</title>
    <link rel="stylesheet" href="lobby.component.css">
</head>

<body>
    <app-header></app-header>
    <main>
        <div class="container">
            <div class="content">
                <div class="image-container">
                    <p class="image-caption">Telesai 28 años de excelencia</p> 
                    <img src="icons/lobby_telesai.jpg" width="500" height="auto">
                </div>
                <h2>Brindamos servicios especializados de aseo y mantenimiento con alta calidad, maquinaria de última
                    tecnología, insumos garantizados y un capital humano altamente calificado</h2>
            </div>
        </div>
    </main>
</body>

</html>
