<div class="container full-width">
    <h1>Solicitudes</h1>

    <div class="search-bar">
        <input type="text" placeholder="Ingresar Id o nombre">
        <button>Buscar</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>#Solicitud</th>
                <th>Cliente</th>
                <th>Fecha Solicitud</th>
                <th>Estado</th>
                <th>Evidencia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>22113334444</td>
                <td>23-10-2024</td>
                <td>Creada</td>
                <td><a href="www.link.com">Ver evidencia</a></td>
                <td><button class="action-button">Ver info</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>10113334444</td>
                <td>23-10-2024</td>
                <td>En progreso</td>
                <td><a href="www.link.com">Ver evidencia</a></td>
                <td><button class="action-button">Ver info</button></td>
            </tr>
        </tbody>
    </table>
</div>
