
    <!-- Contenedor principal -->
    <div class="container">
        <h1>Servicios</h1>

        <!-- Barra de búsqueda -->
        <div class="search-bar">
            <input type="text" placeholder="Ingresar Id o nombre">
            <button class="search-button">Buscar</button>
        </div>

        <!-- Tabla de servicios -->
        <table class="services-table">
            <thead>
                <tr>
                    <th>#Servicio</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let servicio of servicios">
                    <th>{{servicio.idServicio}}</th>
                    <th>{{servicio.nombreServicio}}</th>
                    <th>{{servicio.idEstado}}</th>
                    <th>
                        <button class="update-button">Actualizar</button>
                        <button class="delete-button">Eliminar</button>
                    </th>
                </tr>
                <!-- Más filas pueden añadirse aquí -->
            </tbody>
        </table>
    </div>
