<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar Revisión</title>
    <link rel="stylesheet" href="request-review.component.css">
</head>

<body>
    
    <div class="container">
        <h1>Solicitar Revisión</h1>

        <div class="form-group">
            <label for="tipoServicio">Tipo servicio:</label>
            <select id="tipoServicio" name="tipoServicio">
                <option value="">Seleccionar</option>
                <option value="reparacion">Reparación</option>
                <option value="mantenimiento">Mantenimiento</option>
                <option value="otros">Otros</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ubicacion">Ubicación:</label>
            <select id="ubicacion" name="ubicacion">
                <option value="">Seleccionar</option>
                <option value="caminoCocora">Camino de Cocora</option>
                <option value="otros">Otros</option>
            </select>
        </div>

        <div class="form-group descripcion">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" placeholder="Descripción"></textarea>
        </div>

        <div class="form-group">
            <label for="fechaHora">Establecer fecha y hora:</label>
            <button id="agregarFechaHora" class="btn-mas">+</button>
        </div>
        <div class="space"></div>

        <button type="submit" class="btn">Realizar solicitud</button>
    </div>
</body>

</html>