<div class="d-flex justify-content-center align-items-center min-vh-100">

    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;">
      <h1 class="text-center mb-4">Inicio Sesión</h1>
      <form action="#">
        <div class="mb-3">
          <label for="email" class="form-label">Email*</label>
          <input type="email" [class]="invalidmail" placeholder="E-Mail" (input)="VerifyMail($event)" aria-label="Username" aria-describedby="addon-wrapping" [(ngModel)]="Login.email" #email="ngModel" name="email" required>
            <div class="invalid-feedback">
                This field is required
            </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña*</label>
          <input type="password" [class]="invalidpass" placeholder="ej:123456789" (input)="VerifyPass($event)" aria-label="Password" aria-describedby="addon-wrapping" name="password" [(ngModel)]="Login.password" #password = "ngModel" required>
            <div class="invalid-feedback">
                This field is required
            </div>
        </div>
        <button type="button" (click)="login()" class="btn btn-primary w-100">Iniciar Sesión</button>

      </form>
    </div>
</div>

