<header>
    <div class="containerHeader">
        <h1>Telesai</h1>
        <nav>
            <ul>
                <li><a  routerLink="">Inicio</a></li>
                <li><a routerLink="/crud-servicio">Solicitar Revisión</a></li>
                <li><a  routerLink="/app-request-review">Mis Solicitudes</a></li>
            </ul>
        </nav>
        <div class="col-md-3 d-flex text-end align-items-center">
            @if (!isLogged) {
            <button type="button" routerLink="/login" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" routerLink="/registro" class="btn btn-primary">Registro</button>
            }@else {
            <label class="me-3">{{correo}}</label>
  
            <button type="button" [routerLink]="['/obtener-info-cuenta', IdCuenta]" class="btn btn-outline-primary btn-sm">Perfil</button>
  
            <button type="button" (click)="logout()" class="btn btn-outline-danger btn-sm ms-2">Cerrar sesión</button>
            
            }
           </div>
    </div>

    

</header>
